html{
    height:100%;
}
body{
    margin: 0;
    background-color: #C9EFF3;
    height:100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
}

.header {
    min-height:50px;
    height:5%;
    width: 100%;
    background-color: #252525;
}

center{
    padding-top: 2%;
}

.container{
    height: 90%;
    width: 100%;
}

a{
    color: white;
    text-decoration: none;
}

.footer {
    min-height:50px;
    height: 5%;
    width: 100%;
    background-color: #252525;
}

table{
    min-height:100%;
}

td:hover{
    cursor:pointer;
    background-color:#151515;
}

.active{
    background-color:#151515;
}

td{
    color: #FFF;
    font-size : 16px;
    border-right: 1px solid #FFF;
    padding: 5px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

input{
    padding: 10px;
    border-radius: 25px;
    border-color: #FFF;
    margin: 5px;
}

input[type=submit] {
    width: 150px;
    padding:5px 15px;
    background-color: #FFF;
    border-color: #FFF;
    cursor:pointer;
}

input[type=submit]:hover {
    width: 150px;
    padding:5px 15px;
    background-color: #6FA1A7;
    border-color: #45AEBB;
    cursor:pointer;
}

input[type=submit]:active {
    width: 150px;
    padding:5px 15px;
    background-color: #44959E;
    border-color: #45AEBB;
    cursor:pointer;
}

input[type="text"]:focus, input[type="password"]:focus, input[type=submit], textarea:focus{
    outline: none;
}

.connexion_header{
    width: 100%;
    height : 30px;
    background-color: #252525;
    color : #FFF;
    padding-top : 10px;
}

.connexion{
    background-color:#6FA1A7;
    width: 30%;
    height: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}

.webcam{
    background-color:#6FA1A7;
    width: 70%;
    min-width:680px;
    height:30%;
    padding: 10px;
}